$main-color: white;
$light-color: rgb(0, 238, 255);
$dark-color: rgb(0, 204, 255);
$color-whenActive: rgb(0, 174, 255);
$color-forShadow: rgba(0, 81, 255, 0.404);
$color-borderBottom: rgba(0, 247, 255, 0.336);
$color-backgroundMain: gray;
$color-backgroundSections: rgb(184, 184, 184);
$color-backgroundForumCard: rgb(238, 237, 237);
$error: #d32f2f;

