@use '../../styles/variables.scss' as vars;

.topic-item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    background: vars.$color-backgroundForumCard;
    transition: all 0.2s ease;

    &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-color: vars.$main-color;
    }
}