@use '../../styles/variables.scss' as vars;

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 12px;
  background: vars.$color-backgroundForumCard;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: vars.$main-color;
  }
}

.mainInfo {
  flex: 1;  /* Занимает всё доступное пространство */
}

.title {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #333;
}

.stats {
  display: flex;
  gap: 12px;
  color: #666;
  font-size: 14px;
}

.lastActivity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarPlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 500;
  font-size: 14px;
}

.date {
  font-size: 12px;
  color: #888;
}

.avatar-small {
  width: 50px;
  border-radius: 24px;
}